<div class="col-md-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Manage Category</h3>
		</div>

		<div class="panel-body">
			<p><%= link_to "Show categories", admin_categories_path %></p>
			<p><%= link_to "Add category", new_admin_category_path %></p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Manage Post</h3>
		</div>

		<div class="panel-body">
			<p><%= link_to "Show posts", admin_posts_path %></p>
			<p><%= link_to "Add post", new_admin_post_path %></p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Manage User</h3>
		</div>

		<div class="panel-body">
			<p><%= link_to "Show users", admin_users_path %></p>
		</div>
	</div>
</div>